<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <h1>Cadastro de Funcionários</h1>
    <form action="/funcionario" method="POST">
        <label for="nome">nome:</label><br>
        <input type="text" name="nome" required/><br>
        <label for="setor">setor:</label><br>
        <input type="text" name="setor" required/><br>
        <label for="idade">idade:</label><br>
        <input type="text" name="idade" required/><br>
        <label for="endereco">endereco:</label><br>
        <input type="text" name="endereco" required/><br>
        <br>
        <input type="submit" name="Adicionar" required/><br>
    </form>
</body>
</html>